

.color-card{
    width:100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.color-card span{
    font-size: 12px;
    padding: 2px;
}
.cardsDiv{
   
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}